{% extends 'base.html' %}
{% load static %}

{% block base_style %}
    <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
{% endblock base_style %}

{% block base_html %}
    <div class="signup-form-container">
        <div class="signup-header-wrapper">
            <h1 class="signup-header">Signup</h1>
        </div>
        <form action="." method="POST" class="signup-form"> {% csrf_token %}
            <table class="signup-form-table">
                <tr>
                    <td>
                        <label for="{{ form.username.id_for_label }}" class="signup-form-label">Username</label>
                    </td>
                    <td>
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.password.id_for_label }}" class="signup-form-label">Password:</label>
                    </td>
                    <td>
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.password_confirmation.id_for_label }}" class="signup-form-label">Confirm Password:</label>
                    </td>
                    <td>
                        {{ form.password_confirmation }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="signup-form-submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock base_html %}