{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="outermost-div">
        <h1 class="outermost-header">Outermost Div</h1>
        <h2 class="color-hex">Color: </h2>
        <div class="inner-div-1">
            <h1>Inner Div 1</h1>
        </div>
        {% comment %} let hex = c.toString(16); {% endcomment %}
    </div>
</body>
<script>
    function componentToHex(c) {
        
        return c.length == 1 ? "0" + c : c;
    }

    function rgbToHex(rgb) {
        let r = rgb[4] + rgb[5] + rgb[6];
        let g = rgb[9] + rgb[10] + rgb[11];
        let b = rgb[14] + rgb[15] + rgb[16];
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }
    {% comment %} function rgbToHex(r, g, b) {
        return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
      } {% endcomment %}
    const getBgColor = (element) => {
        let parentDiv = element.parentNode;
        let color = window.getComputedStyle(parentDiv, null).getPropertyValue('background-color');
        console.log(typeof color, color);
        let hexColor = rgbToHex(color);
        console.log(hexColor);
    }
    let h1s = document.getElementsByTagName("h1");
    for (let i = 0; i < h1s.length; i++) {
        let h1 = h1s[i];
        getBgColor(h1);
    }    
</script>
</html>