{% extends 'base.html' %}
{% load static %}

{% block head_tags %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock head_tags %}

{% block base_html %}
    <div class="login-form-container">
        <div class="login-header-wrapper">
            <h1 class="login-header">Login</h1>
        </div>
        <form action="." method="POST" class="login-form"> {% csrf_token %}
            <table class="login-form-table">
                <tr>
                    <td>
                        <label for="{{ form.username.id_for_label }}" class="login-form-label">Username</label>
                    </td>
                    <td>
                        {% comment %} <input type="text" name="username-input" class="login-form-input"> {% endcomment %}
                        {{ form.username }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.password.id_for_label }}" class="login-form-label">Password:</label>
                    </td>
                    <td>
                        {% comment %} <input type="password" name="password-input" class="login-form-input"> {% endcomment %}
                        {{ form.password }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="login-form-submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock base_html %}