* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #dbdbdb;
    font-family: Arial;
}

/* .base-header {
    background-color: aqua;
} */

.base-header nav {
    width: 100%;
    margin-top: 20px;
    /* background-color: blueviolet; */
    text-align: right;
}

.base-header nav li {
    display: inline;
    background-color: #808080;
    border-radius: 5px;
    margin: 30px 10px;
    padding: 10px;
}

.base-header nav li:hover {
    background-color: #9b9b9b;
}

.base-header nav li a {
    color: #ececec;
    text-decoration: none;
}


/* Base Form */
.form-container {
    background-color: #a8a8a8;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}

.form-header-wrapper {
    text-align: center;
}

.form-header {
    color: #121212;
}

.form-label {
    color: #121212;
    font-size: 14pt;
}

.form-input {
    background-color: #808080;
    color: #ececec;
    font-size: 14pt;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.form-input::placeholder {
    color: #9f9f9f;
}

.form-textarea {
    background-color: #808080;
    color: #ececec;
    font-size: 14pt;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.form-submit {
    background-color: #5c5c5c;
    color: #ececec;
    padding: 10px;
    border-radius: 10px;
}

.form-submit:hover {
    background-color: #7b7b7b;
}

td {
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
}