.signup-form-container {
    background-color: #a8a8a8;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}

.signup-header-wrapper {
    text-align: center;
}

.signup-header {
    color: #121212;
}

.signup-form-label {
    color: #121212;
    font-size: 14pt;
}

.signup-form-input {
    background-color: #808080;
    color: #ececec;
    font-size: 14pt;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.signup-form-input::placeholder {
    color: #9f9f9f;
}

.signup-form-submit {
    background-color: #5c5c5c;
    color: #ececec;
    padding: 10px;
    border-radius: 10px;
}

.signup-form-submit:hover {
    background-color: #7b7b7b;
}

td {
    padding-bottom: 10px;
    padding-right: 10px;
}